* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(26, 26, 26);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

h1 {
  margin: 0;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  line-height: 150px;
  text-align: center;
}

h4 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 40px;
}

.row {
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .name {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 20px 50px 20px 50px;
}

.header .connect {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 50px 20px 50px;
}

.connect button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.connect button:active {
  background: #cccccc;
}

.connect button .cpy {
  width: 20px;
  height: 20px;
}

.heading-one,
.heading-two,
.heading-three {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.heading {
  grid-row: 1/2;
  grid-column: 1/3;
}

.current {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.years {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.hero {
  padding-top: 120px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.hero .years,
.hero .current,
.hero .title {
  height: 500px;
}

.hero .picture {
  border-radius: 50px;
  height: 600px;
}

.main {
  padding: 0 50px 0 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main .some-txt {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 80px;
  max-width: 750px;
  text-align: center;
}

.some-txt .txt-one {
  padding: 80px 0 80px 0;
}

.some-txt .txt-two {
  padding: 80px 0 80px 0;
}

.experience {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
  display: grid;
  align-items: center;
}

.experience .proj-heading {
  display: grid;
  justify-items: left;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.experience .proj-heading h1 {
  line-height: 130px;
}

.experience .projects {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 20px;
  padding: 100px 0 50px 0;
}

.proj-preview {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.proj-preview .preview-img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.proj-deets {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  gap: 10px;
}

.proj-deets .project {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4f4d57;
}

.proj-deets .project a {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.proj-deets .project a:visited {
  color: inherit;
}

.project a .proj-txt {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > p {
    color: #999999;
  }
}

.project a .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  transform: translateX(-20px);
}

.footer {
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 80px 0 80px;
}

.footer .row .footer-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .row .footer-title {
  width: 80%;
}

.footer h6 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
}

.footer p {
  font-size: 15px;
  color: #999999;
}

.footer .row .socials .email {
  display: grid;
  grid-template-rows: 100px 40px;
}

.footer .row .socials .email button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: min-content;
  border: none;
  border-radius: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .row .socials .email button:active {
  background: #cccccc;
}

.footer .row .socials .email button .cpy {
  width: 20px;
  height: 20px;
}

.footer .row .socials .email h4 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.footer .row .ft-img img {
  width: 80%;
}

.footer .row .socials .social-links {
  padding-top: 40px;
  display: grid;
  gap: 20px;
}

.footer .row .socials .social-links .social-heading {
  color: #999999;
  font-size: 20px;
  font-weight: 500;
}

.footer .row .socials .social-links .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

.footer .row .socials .social-links .links a {
  cursor: pointer;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  color: #999999;
  text-decoration: none;
}

.footer .row .socials .social-links .links a:hover {
  text-decoration: underline;
}

.footer .row .socials .social-links .links a:active {
  color: red;
}

.footer .row .socials .social-links .links > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

.design-reference {
  width: 100%;
  padding: 15px 0 15px 0;
  text-align: center;
}

.design-reference p {
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
}

.design-reference a {
  text-decoration: none;
  color: white;
}

.design-reference a:hover {
  text-decoration: underline;
}

.design-reference a:visited {
  color: white;
}

.design-reference a:active {
  color: red;
}
