* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(26, 26, 26);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: clamp(12px, 1vw, 21px);
  color: white;
}

h1 {
  margin: 0;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(2rem, calc(8vw + 1rem), 10rem);
  line-height: 100%;
  text-align: center;
}

h4 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: clamp(1.3rem, 4vw, 40px);
}

.row {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px 30px 30px;
  display: grid;
  justify-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 18px;
}

.header .name {
  display: flex;
  align-items: center;
  width: 50%;
}

.header .connect {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.header .github {
  display: none;
}

.connect button {
  cursor: pointer;
  padding: 10px;
  width: 15rem;
  border: none;
  border-radius: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: clamp(8px, 5vw, 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.connect button:active {
  background: #cccccc;
}

.connect button .cpy {
  width: 20px;
  height: 20px;
}

.heading-one,
.heading-two,
.heading-three {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 10px;
}

.title p {
  font-size: clamp(10px, 1vw, 21px);
}

.heading {
  grid-row: 1/2;
  grid-column: 1/3;
}

.current {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.years {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.hero {
  padding-top: 20vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-self: center;
  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.hero .picture {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.main {
  padding: 0 50px 0 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main .some-txt {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: clamp(20px, 2vw, 4rem);
  max-width: 750px;
  text-align: center;
}

.some-txt .txt-one {
  padding: 80px 0 80px 0;
}

.some-txt .txt-two {
  padding: 80px 0 80px 0;
}

.experience {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
  display: grid;
  align-items: center;
}

.experience .proj-heading {
  display: grid;
  justify-items: left;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.experience .proj-heading h1 {
  line-height: 100%;
}

.experience .projects {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 20px;
  padding: 100px 0 50px 0;
}

.proj-preview {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.proj-preview .preview-img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.proj-deets {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  gap: 10px;
}

.proj-deets .project {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4f4d57;
}

.proj-deets .project a {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.proj-deets .project a:visited {
  color: inherit;
}

.project a .proj-txt {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > p {
    color: #999999;
  }
}

.project a .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  transform: translateX(-20px);
}

.footer {
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 80px 0 80px;
}

.footer .row .footer-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer h6 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
}

.footer p {
  font-size: 15px;
  color: #999999;
}

.footer .row .socials .email {
  display: grid;
  grid-template-rows: min-content 40px;
  gap: 30px;
}

.footer .row .socials .email .email-txt {
  display: grid;
  gap: 10px;
}

.footer .row .socials .email button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: min-content;
  border: none;
  border-radius: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .row .socials .email button:active {
  background: #cccccc;
}

.footer .row .socials .email button .cpy {
  width: 20px;
  height: 20px;
}

.footer .row .socials .email h4 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.footer .row .ft-img {
  width: 100%;
  height: 100%;
  background-image: url('../src/img/footer-profile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .row .socials .social-links {
  padding-top: 40px;
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
}

.footer .row .socials .social-links .social-heading {
  color: #999999;
  font-size: 20px;
  font-weight: 500;
}

.footer .row .socials .social-links .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

.footer .row .socials .social-links .links a {
  cursor: pointer;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  color: #999999;
  text-decoration: none;
}

.footer .row .socials .social-links .links a:hover {
  text-decoration: underline;
}

.footer .row .socials .social-links .links a:active {
  color: red;
}

.footer .row .socials .social-links .links > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

.design-reference {
  width: 100%;
  padding: 15px 0 15px 0;
  text-align: center;
}

.design-reference p {
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
}

.design-reference a {
  text-decoration: none;
  color: white;
}

.design-reference a:hover {
  text-decoration: underline;
}

.design-reference a:visited {
  color: white;
}

.design-reference a:active {
  color: red;
}

@media only screen and (max-width: 1023px) {
  .experience .projects {
    gap: 0;
  }
  .projects .proj-preview {
    display: none;
  }
  .projects .proj-deets {
    grid-column: 1/3;
  }
  .footer .row {
    padding: 80px 50px 0 50px;
  }
  .proj-deets .project a {
    padding: 25px 0 25px 0;
  }
}

@media only screen and (max-width: 768px) {
  .header .connect {
    display: none;
  }
  .header a.github {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }

  .footer .row .socials {
    width: 100%;
  }

  .footer .row .footer-title {
    width: 100%;
    grid-row: 2/3;
    flex-direction: row;
  }

  .footer .row .footer-title .txt p {
    margin-top: 30px;
  }
}

@media screen and (max-width: 680px) {
  .footer .row .footer-title {
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .footer .row .footer-title .ft-img {
    background-size: cover;
  }
}

@media screen and (max-width: 390px) {
  .wrapper .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .hero .years,
  .hero .current,
  .hero .title {
    height: 500px;
  }
}

@media (max-width: 767px) and (min-height: 668px) {
  .hero {
    padding-top: 35vh;
  }
}
