* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(26, 26, 26);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

h1 {
  margin: 0;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  line-height: 150px;
  text-align: center;
}

h4 {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 40px;
}

.row {
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .name {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 20px 50px 20px 50px;
}

.header .connect {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 50px 20px 50px;
}

.connect button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.connect button .cpy {
  width: 20px;
  height: 20px;
}

.heading-one,
.heading-two,
.heading-three {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.heading {
  grid-row: 1/2;
  grid-column: 1/3;
}

.current {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.years {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.hero {
  padding-top: 120px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.hero .years,
.hero .current,
.hero .title {
  height: 500px;
}

.hero .picture {
  border-radius: 50px;
  height: 600px;
}

.main {
  padding: 0 50px 0 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main .some-txt {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 80px;
  max-width: 750px;
  text-align: center;
}

.some-txt .txt-one {
  padding: 80px 0 80px 0;
}

.some-txt .txt-two {
  padding: 80px 0 80px 0;
}

.experience {
  width: 100%;
  padding-top: 120px;
  display: grid;
  align-items: center;
  gap: 120px;
}

.experience .proj-heading {
  display: grid;
  justify-items: left;
  align-items: center;
}

.experience .proj-heading h1 {
  line-height: 130px;
}

.experience .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.proj-preview {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.proj-deets {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
}

.proj-deets .project {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-rows: 1fr 1fr 50px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #4f4d57;
}

.proj-deets .project p {
  color: #999999;
  font-weight: 400;
  line-height: 26px;
  grid-row: 2/3;
}

.proj-deets .project .links {
  grid-row: 3/4;
}

.proj-deets .project .links a {
  text-align: center;
  text-decoration: none;
  background: white;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
}

.proj-deets .project .links a:hover {
  background: #cccccc;
}

.proj-deets .project .links a:visited {
  color: #000;
}
